<style type="text/css">
  body{
    background:#ccc;
  }
  #magazine{
    width:1152px;
    height:752px;
  }
  #magazine .turn-page{
    background-color:#ccc;
    background-size:100% 100%;
  }
  </style>
<div id="magazine">
	<div style="background-image:url(/assets/pages/01.jpg);"></div>
	<div style="background-image:url(/assets/pages/02.jpg);"></div>
	<div style="background-image:url(/assets/pages/03.jpg);"></div>
	<div style="background-image:url(/assets/pages/04.jpg);"></div>
	<div style="background-image:url(/assets/pages/05.jpg);"></div>
	<div style="background-image:url(/assets/pages/06.jpg);"></div>
</div>
